<component name="ArtifactManager">
  <artifact type="exploded-war" name="springboot-dubbo-shop:war exploded">
    <output-path>$PROJECT_DIR$/springboot-dubbo-shop/target/springboot-dubbo-shop</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springboot-dubbo-shop" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/springboot-dubbo-shop/target/springboot-dubbo-shop/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="springboot-dubbo-shop/web/Web" />
    </root>
  </artifact>
</component>